<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="footer">
        <footer class="bg-dark text-white text-center py-3 mt-auto border-top border-secondary">
            <div class="container">
                <p class="mb-1 fw-bold text-uppercase text-warning">
                    BÀI TẬP LẬP TRÌNH WEB (WEBPR330479) - THYMELEAF LAYOUT
                </p>
                <p class="mb-0 text-light small">
                    Sinh viên thực hiện: <strong>Thái Doãn Thịnh</strong> | MSSV: <strong>24133058</strong> | Lớp: <strong>24133B</strong>
                </p>
                <small class="text-secondary">Trường Đại học Công Nghệ Kỹ thuật TP.HCM (HCMUTE)</small>
            </div>
        </footer>
    </div>
</body>
</html>